[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[requires]
python_version = "3.7"

[packages]
CacheControl = "*"
SQLAlchemy = "*"

[packages.spotipy]
git = "https://github.com/felix-hilden/spotipy.git"
