
# python3-confuse
confuse
# python3-click
click
# python3-sqlitedict
sqlitedict
# python3-sqlalchemy, python3-psycopg2
sqlalchemy
psycopg2
# python3-httpx, python3-h2
httpx
h2
# python3-cachecontrol (?)
# TODO: remove
cachecontrol
# python3-enlighten
enlighten
# python3-validators (for click_params)
validators
# python3-pulsectl 
pulsectl
# python3-xdg?
pyxdg
# python3-pandas
pandas
# python3-langdetect
langdetect
# python3-cachecontrol
# TODO: remove
cachecontrol
# python3-redi
# TODO: remove
redis
# python3-diskcache
diskcache
# python3-unidecode
unidecode
# python3-boltons
boltons
# python3-dogpile.cache
dogpile.cache
# python3-sqlitedict
sqlitedict
# python3-humanize
humanize
# python3-iso8601
iso8601
# python3-networkx
networkx
#
ipython

# click extensions
click_params
click_logging

# Spotify
tekore

# httpx extensions
hishel

# https://github.com/jonathaneunice/options
options
# for options
combomethod
nulltype
chainmap

