#
# debian packages:
# python3-click
# python3-sqlitedict
# python3-sqlalchemy
# python3-httpx
# python3-cachecontrol (?)
# python3-enlighten 
# python3-aiorwlock (for httpx_cache)
# python3-validators (for click_params)
# python3-pulsectl 

# click extensions
click_params
click_logging

#
tekore

# https://github.com/jonathaneunice/options
options
# for options
combomethod
nulltype
chainmap

# 
fasttext-langdetect
